# Byte-compiled / temporary files
__pycache__/
*.py[cod]
*.env
*.log

# Virtual environment
.venv/
env/

# Flask / VS Code specific
instance/
*.sqlite3
.vscode/

# OS & editor-specific
.DS_Store
Thumbs.db